.App {
  background-color: #d4f8c4;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 3rem;
  color: #333;
}
